<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SpecExport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!--The license context used-->
    <add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IO.RecyclableMemoryStream" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<!--Изменять только ЗНАЧЕНИЯ ("value") в applicationSettings-->
  <applicationSettings>
    <SpecExport.Properties.Settings>
      <setting name="DrawingsDirectory" serializeAs="String">
        <value>Drawings</value>
      </setting>
      <setting name="MailBody" serializeAs="String">
        <value />
      </setting>
      <setting name="MailSubject" serializeAs="String">
        <value>Какая-то тема письма</value>
      </setting>
      <setting name="FromMailAddres" serializeAs="String">
        <value>аясно@gmail.com</value>
      </setting>
      <setting name="DisplayName" serializeAs="String">
        <value>Богрт</value>
      </setting>
      <setting name="ToMailAddres" serializeAs="String">
        <value>аясно@gmail.com</value>
      </setting>
      <setting name="SendMail" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowConsoleTable" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SpecialCharacters" serializeAs="String">
        <value>2, \u00D8 ; 3, \u00D9</value>
      </setting>
    </SpecExport.Properties.Settings>
  </applicationSettings>
</configuration>